In [34]:
price1 = 100
price2 = 200
tax = 1.1

def total():

    return price1 + price2

print (total() * tax)

330.0

In [32]:
price1 = 100
price2 = 200
tax = 1.1

def total():
    tax = 1.1
    return price1 + price2

print (total() * tax)

330.0